/* tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 16px;
  background-color: #f4f4f4;
}

body {
  line-height: 1.6;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
} 